<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Document converter">
    <meta name="author" content="Ali Khoramshahi">

    <title>Document converter</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

    <!-- Include these three JS files: -->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  <script type="text/javascript" src="/javascripts/web_socket.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>

  <script type="text/javascript">
    
    // Set URL of your WebSocketMain.swf here:
    WEB_SOCKET_SWF_LOCATION = "WebSocketMain.swf";
    // Set this to dump debug message from Flash to console.log:
    WEB_SOCKET_DEBUG = true;
    
    // Everything below is the same as using standard WebSocket.
    
    var ws;

    var myVar;

    var pdfUrl = "";
    var fileUrl = "";

    
    function init() {

      var from = document.getElementById("from");
      var to = document.getElementById("to");
      var input = document.getElementById("input");

      input.onkeydown = onSubmit;
      input.onchange = onSubmit;
      from.onchange = onSubmit;
      to.onchange = onSubmit;

      

      var baseUrl = 'al-kh.me';
      //var baseUrl = 'localhost';

      // Connect to Web Socket.
      // Change host/port here to your own Web Socket server.
      ws = new WebSocket("ws://"+baseUrl+":8001/");

      // Set event handlers.
      ws.onopen = function() {
        output("onopen");
      };
      ws.onmessage = function(e) {
        // e.data contains received string.

        try {

          var res = JSON.parse(e.data)

          if(res.type == 'pdf') {

              var button = document.getElementById("pdfButton");
              pdfUrl = res.link;
              button.innerHTML = 'Get PDF';
              button.removeAttribute("disabled");
          }
          else{

            var output = document.getElementById("output");
            fileUrl = res.link;
            output.value = res.content;
          }
        }
        catch (err) {

          var output = document.getElementById("output");
          output.value = e.data;
        }
      };
      ws.onclose = function() {
        output("onclose");
      };
      ws.onerror = function() {
        output("onerror");
      };

    }
    
    function onSubmit() {

      clearInterval(myVar);
      myVar = setInterval(sendRequest, 1000);
    }

    function onGetFile() {

        if(fileUrl.trim() != "") {

          var win = window.open('http://al-kh.me' + fileUrl, '_blank');
        }
    }

    function onCreatePDF() {

      var button = document.getElementById("pdfButton");
      var input = document.getElementById("input");
      var from = document.getElementById("from");

      if(input.value.trim() == "")
        return;

      if(button.innerHTML == 'Get PDF') {

        var win = window.open('http://al-kh.me' + pdfUrl, '_blank');
        button.removeAttribute("disabled");
        button.innerHTML = 'Create PDF';
      }
      else {
        var msgToSend = {
          from : from.value,
          getPdf: true,
          body : input.value
        };
        var stringified = JSON.stringify(msgToSend);
        ws.send(stringified);
        input.focus();  
        button.innerHTML = 'Creating link...';
        button.setAttribute("disabled","disabled");        
      }
    }

    function sendRequest() {

      clearInterval(myVar);

      var from = document.getElementById("from");
      var to = document.getElementById("to");
      var input = document.getElementById("input");

      if(input.value.trim() == "")
        return;

      // You can send message to the Web Socket using ws.send.
      var msgToSend = {
        from : from.value,
        to: to.value,
        body : input.value  
      };
      var stringified = JSON.stringify(msgToSend);
      ws.send(stringified);
      input.focus();
    }
    
    function onCloseClick() {
      ws.close();
    }
    
    function output(str) {
      
      console.log(str);
    }

  </script>

  </head>

  <body onload="init();">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Document Converter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="arguments">
          <form>
            <label>from</label>

            <select id="from">
              <option value="markdown">markdown</option>
              <option value="docbook">docbook</option>
              <option value="docx">docx</option>
              <option value="epub">epub</option>
              <option value="haddock">haddock</option>
              <option value="html">html</option>
              <option value="json">json</option>
              <option value="latex">latex</option>
              <option value="markdown_github">markdown_github</option>
              <option value="markdown_mmd">markdown_mmd</option>
              <option value="markdown_phpextra">markdown_phpextra</option>
              <option value="markdown_strict">markdown_strict</option>
              <option value="mediawiki">mediawiki</option>
              <option value="native">native</option>
              <option value="opml">opml</option>
              <option value="org">org</option>
              <option value="rst">rst</option>
              <option value="t2t">t2t</option>
              <option value="textile">textile</option>
              <option value="twiki">twiki</option>
            </select> 

            <label>to</label>

            <select id="to">
              <option value="latex">latex</option>
              <option value="asciidoc">asciidoc</option>
              <option value="beamer">beamer</option>
              <option value="context">context</option>
              <option value="docbook">docbook</option>
              <option value="docx">docx</option>
              <option value="dokuwiki">dokuwiki</option>
              <option value="dzslides">dzslides</option>
              <option value="epub">epub</option>
              <option value="epub3">epub3</option>
              <option value="fb2">fb2</option>
              <option value="haddock">haddock</option>
              <option value="html">html</option>
              <option value="html5">html5</option>
              <option value="icml">icml</option>
              <option value="json">json</option>
              <option value="man">man</option>
              <option value="markdown">markdown</option>
              <option value="markdown_github">markdown_github</option>
              <option value="markdown_mmd">markdown_mmd</option>
              <option value="markdown_phpextra">markdown_phpextra</option>
              <option value="markdown_strict">markdown_strict</option>
              <option value="mediawiki">mediawiki</option>
              <option value="native">native</option>
              <option value="odt">odt</option>
              <option value="opendocument">opendocument</option>
              <option value="opml">opml</option>
              <option value="org">org</option>
              <option value="plain">plain</option>
              <option value="revealjs">revealjs</option>
              <option value="rst">rst</option>
              <option value="rtf">rtf</option>
              <option value="s5">s5</option>
              <option value="slideous">slideous</option>
              <option value="slidy">slidy</option>
              <option value="texinfo">texinfo</option>
              <option value="textile">textile</option>
            </select> 


              <button id="pdfButton" onclick="onCreatePDF(); return false;">Create PDF</button>
              <button id="getFileButton" onclick="onGetFile(); return false;">Get File</button>
          </form>
      </div>

      <div class="starter-template">

          <form>
            <textarea name="Text1" cols="75" rows="27" id="input"></textarea>

            <textarea readonly="readonly" name="Text1" cols="75" rows="27" id="output"></textarea>

          </form>

      </div>

    </div><!-- /.container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
