<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Document converter</title>

  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Include these three JS files: -->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  <script type="text/javascript" src="/javascripts/web_socket.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>

  <script type="text/javascript">
    
    // Set URL of your WebSocketMain.swf here:
    WEB_SOCKET_SWF_LOCATION = "WebSocketMain.swf";
    // Set this to dump debug message from Flash to console.log:
    WEB_SOCKET_DEBUG = true;
    
    // Everything below is the same as using standard WebSocket.
    
    var ws;

    var myVar;

    
    function init() {

      var from = document.getElementById("from");
      var to = document.getElementById("to");
      var input = document.getElementById("input");

      input.onkeydown = onSubmit;
      input.onchange = onSubmit;
      from.onchange = onSubmit;
      to.onchange = onSubmit;

      // Connect to Web Socket.
      // Change host/port here to your own Web Socket server.
      ws = new WebSocket("ws://al-kh.me:8001/");

      // Set event handlers.
      ws.onopen = function() {
        output("onopen");
      };
      ws.onmessage = function(e) {
        // e.data contains received string.
        var output = document.getElementById("output");
        output.value = e.data;
      };
      ws.onclose = function() {
        output("onclose");
      };
      ws.onerror = function() {
        output("onerror");
      };

    }
    
    function onSubmit() {

      clearInterval(myVar);
      myVar = setInterval(sendRequest, 1000);
    }

    function sendRequest() {

      clearInterval(myVar);
      console.log("msg sent");

      var from = document.getElementById("from");
      var to = document.getElementById("to");
      var input = document.getElementById("input");
      // You can send message to the Web Socket using ws.send.
      var msgToSend = {
        from : from.value,
        to: to.value,
        body : input.value  
      };
      var stringified = JSON.stringify(msgToSend);
      ws.send(stringified);
      input.focus();
    }
    
    function onCloseClick() {
      ws.close();
    }
    
    function output(str) {
      
      console.log(str);
    }

  </script>
</head><body onload="init();">

<div id="html">
<div id="mainDiv" class="maindivclass">

<div id="centeral">


  <form onsubmit="onSubmit(); return false;">

    <label>from</label>

    <select id="from">
      <option value="markdown">markdown</option>
      <option value="latex">latex</option>
    </select> 

    <label>to</label>

    <select id="to">
      <option value="markdown">markdown</option>
      <option value="latex">latex</option>
    </select> 

    <br/>

    <textarea name="Text1" cols="70" rows="40" id="input"></textarea>

    <textarea readonly="readonly" name="Text1" cols="70" rows="40" id="output"></textarea>

  </form>

</div>
</div>
</div>

</body></html>


